sudo: required

services:
  - docker

git:
  depth: 3

before_script:
  - docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS quay.io

script:
  - docker build -t quay.io/hippylabs/cert_generator:latest .
  - docker push quay.io/hippylabs/cert_generator:latest
