sudo: required

services:
  - docker

git:
  depth: 1

before_script:
  - docker pull jordi/openssl
  - docker login -e $DOCKER_EMAIL -u $DOCKER_USER -p $DOCKER_PASS

script:
  - docker build -t quay.io/hippylabs/cert_generator:latest .
  - docker push quay.io/hippylabs/cert_generator:latest
